header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100% ;
    height: 100px; 
    background-color:#d2c8ab;
}
main{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.logo{
    width:85px;
}
.nav-active{
    color: #aca38c;
}
.nav-iteams{
    margin-right:50px ;
    text-decoration: none;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1cm;

    color: black;
}
.disagnBlock{
    height:700px ;
    padding-left:140px ;
    padding-top: 80px;
}
.disagnTitle{
    font-style:normal ;
    font-weight: 300;
    font-size: 49px;

    margin-bottom: 45px;
}
.disagntext{
    width:700px ;
    font-style: normal;
    font-weight: 488;
    font-size: 16px;
    line-height: 23px;
}
.Popular{
    display: flex;
    justify-content: space-around;
}
.SBlock{
    display: flex;
    flex-direction: row;
    justify-content:space-around;

    margin-top:40px;
}
.SecondBlock{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 220px;
    height: 200px; 

    box-shadow: 8px 3px 14px -1px rgb(104, 102, 102);
    border-radius: 10px;
}
.SecondBlock>img{
    position: absolute;
    width:150px;
    height:150px;
}
.SecondBlock>p{
    display: none;
    position: absolute;
    font-size: 15px;
    font-weight: 150px;
}
.SecondBlock:hover>img{
    opacity: 25%;
}
.SecondBlock:hover>p{
    display: block;
}